.container {border: solid 1px red;

}

.row {border: solid 1px blue;

}

.col-sm-1,.col-sm-2,.col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,  .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { border: solid 1px orange;

}

.tall { height: 500px;

}


.topnav li { list-style   : none;
		  	 float		  : left;
		  	 padding-right: 10%;
		  	

}

.dropdown { 
				
 }